---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre mi">
	<main>
		<section class="w-full mx-auto px-36 py-20">
			
			<div class="justify-center flex">
				<h1 class="text-5xl flex-nowrap">
					Sobre mi
				</h1>
			</div>


			<div class="flex-1 md:flex justify-between items-center">	
				<div class="px-20 justify-center flex py-5">
					<img src="../foto.jpg" class="min-h-40 min-w-32 max-h-96 max-w-64"> 
				</div>
				<div class=" sm:max-w-[70%]">
					<p>
						¡Hola! Soy Antonio, tengo 21 años y estudio Ingeniería en Computación en la Facultad de Ingeniería de la UNAM. 
						A los 10 años empecé en el mundo de las computadoras armando y dandole mantenimiento a computadoras. Desde 
						entonces, he evolucionado hacia el desarrollo de software, destacándome con dos programas en Java durante la 
						preparatoria.
					</p>
					<p>
						En la universidad, he sido mentor de compañeros en proyectos y actividades académicas, y he sido parte
						integral de la asociación estudiantil Baja SAE UNAM, donde he diseñado un sistema para telemetria e imparti  
						cursos de programación para principiantes. Actualmente lidero un proyecto que busca impulsar las capacidades
						tecnológicas de nuestra facultad.
					</p>
				</div>
			</div>
			<div>
				<p>
					Actualmente, mi experiencia abarca programación fullstack de aplicaciones móviles, de escritorio y web. 
					desarrollo de proyectos IoT, robotica e intrumentacion electronica, cuento con habilidades relacionadas 
					a project management y DevOps, he incursiondo en el diseño de equipos de cómputo y actualmente estoy 
					aprendiendo Sobre ciberseguridad para fortalecer aún más mis habilidades técnicas.
				</p>
				<p>
					Mi meta es seguir creciendo profesionalmente en el campo tecnológico, aportando mi entusiasmo y experiencia
					para enfrentar nuevos desafíos y contribuir al avance de la tecnología en México.
				</p>	
			</div>
		</section>
	</main>
</Layout>

<style>
	main{
		background-color: rgba(11, 11, 11, 0.9);
	}
	h1 {
		color: #00ff00;
	}
	h2 {
		color: #00ff00;
		font-family: 'onest', sans-serif;
	}
	p {
		color: #00ff00;
		font-family: 'onest', sans-serif;
		padding-top: 25px;
		font-size: 18px;
	}

</style>