---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/montserrat';
---

<Layout title="Antonio Trujillo">
	<main>
		<section class="intro justify-center flex ">
			<div class="py-10 px-5">
				<h1 class="text-6xl sm:text-7xl md:text-8xl py-10">
					Creando Soluciones tecnologícas para la vida cotidiana
				</h1>
				<div>
					<h2 class="text-5xl ">Antonio Trujillo</h1>
					<h3 class="text-3xl">Arquitecto de Soluciones tecnologícas</h3>
				</div>
			</div>
		</section>
		<section class="justify-center flex">
			<a download href="Antonio_Trujillo.pdf" class="bg-[#00ff00] rounded-full flex justify-center items-center
				y-2 px-5 text-nowrap md:min-w-36 bg-green hover:scale-125 hover:bg-[#00ff00]/90 transition">
				<h5 class="px-10 py-10 text-black text-3xl">
					Descargar CV
				</h5>
			</a>
		</section>
		<section class="px-10 py-10">
			<div class="rounded-2xl border border-[#00ff00] py-10">
				<div class="intro px-5 py-5">
					<h2 class="flex-col justify-center  text-4xl">
						Stack tecnologíco
					</h2>
				</div>
				<div class="flex-1 sm:flex justify-around">
					<div class="py-5 px-5 text-center">
						<h1 class="text-2xl">
							Desarrollo fullstack
						</h1>
						<h4>
							(mobile, escritorio y web)
						</h4>
						<ul>
							<li>Dart/Flutter</li>
							<li>JavaScript/React</li>
							<li>Java/Android SDK</li>
							<li>Java/Swing/awt</li>
							<li>Python/TKinter</li>
							<li>Python/Django</li>
							<li>HTML/CSS/JavaScript</li>
						</ul>
					</div>
		
				
					<div class="py-5 px-5 text-center">
						<h1 class="text-2xl">
							Ingenieria de Software
						</h1>
						<h4>
							(Arquitectura de Software, Gestion de proyectos)
						</h4>
						<ul>
							<li>Mural</li>
							<li>Notion</li>
							<li>Scrum</li>
							<li>DevOps</li>
							<li>BPMN</li>
							<li>Figma</li>
						</ul>
					</div>
		
					<div class="py-5 px-5 text-center">
						<h1 class="text-2xl">
							Desarrollo IoT
						</h1>
						<h4>
							(Diseño 3D, microcontroladores)
						</h4>
						<ul>
							<li>SolidWorks 2022-2023</li>
							<li>AutoDesk Inventor</li>
							<li>Ultimaker Cura</li>
							<li>RaspBerry PI 4/Python</li>
							<li>RaspBerry PI Pico/MicroPython </li>
							<li>esp32/MicroPython</li>
							<li>Arduino uno/C</li>
						</ul>
					</div>

				</div>
			</div>
		</section>	
	</main>
</Layout>

<style>
	section{
		background-color: rgba(11, 11, 11, 0.9);
	}
	.intro{
		text-align: center;
	}
</style>