---
import PageBase from '../layouts/PageBase.astro';
import { Cpu, Database, Radar, Code2, Smartphone, Wifi, Layers } from "lucide-astro";
---

<PageBase title="Proyectos">


	<!-- GRID DE PROYECTOS -->
	<section class="snap-start py-24 px-6 overflow-hidden justify-center">

		<div class="flex justify-center ">
			<h1 class="text-xl md:text-4xl text-[#00FF66] tracking-widest">
				PROYECTOS
			</h1>
		</div>

		<div class="grid md:grid-cols-2 gap-12 mt-16">

			<!-- ================= CSIM ================= -->
			<div class="project-card">
				<div class="project-header">
					<Cpu size={28} class="text-[#00FF66]" />
					<h2>CSIM (2025-Presente)</h2>
				</div>

				<p>
					Prototipo de shooter tactico hardcore.
				</p>

				<div class="tech">
					<span>C#</span>
					<span>Unity</span>
					<span>Animacion 3D</span>
					<span>Scripting</span>
				</div>
			</div>

			<!-- ================= EFI ================= -->
			<div class="project-card">
				<div class="project-header">
					<Database size={28} class="text-[#00FF66]" />
					<h2>EFI (2024-Presente)</h2>
				</div>

				<p>
					Plataforma educativa de nueva generacion, orientada a comunicacion, educacion y administracion.
				</p>

				<div class="tech">
					<span>Flutter</span>
					<span>Dart</span>
					<span>Django</span>
					<span>Arquitectura Modular</span>
				</div>
			</div>

			<!-- ================= PLANE VIEWER ================= -->
			<div class="project-card">
				<div class="project-header">
					<Radar size={28} class="text-[#00FF66]" />
					<h2>Plane Viewer (2026)</h2>
				</div>

				<p>
					Sistema de visualización en tiempo real de terrenos para monitoreo y administracion de ventas.
				</p>

				<div class="tech">
					<span>React</span>
					<span>WebSockets</span>
					<span>Visualización de Datos</span>
					<span>Optimización Frontend</span>
				</div>
			</div>

			<!-- ================= ARBIX ================= -->
			<div class="project-card">
				<div class="project-header">
					<Layers size={28} class="text-[#00FF66]" />
					<h2>ARBIX (2025)</h2>
				</div>

				<p>
					Prototipo de plataforma para analisis y arbitraje por medio de visualizador 3D.
				</p>

				<div class="tech">
					<span>React</span>
					<span>TypeScript</span>
					<span>Django</span>
					<span>Arquitectura Escalable</span>
				</div>
			</div>

			
			<!-- ================= POS Deli ================= -->
			<div class="project-card">
				<div class="project-header">
					<Smartphone size={28} class="text-[#00FF66]" />
					<h2>Punto de Venta para vendedores ambulantes (2025)</h2>
				</div>

				<p>
					Sistema ligero desarrollado en Flutter para comercio local,
					con base de datos local optimizada.
				</p>

				<div class="tech">
					<span>Flutter</span>
					<span>Dart</span>
					<span>Django</span>
				</div>
			</div>


			<!-- ================= POS VETERINARIA ================= -->
			<div class="project-card">
				<div class="project-header">
					<Smartphone size={28} class="text-[#00FF66]" />
					<h2>Punto de Venta para comercio fisico (2024)</h2>
				</div>

				<p>
					Sistema ligero desarrollado en Flutter para comercio local,
					con base de datos local optimizada.
				</p>

				<div class="tech">
					<span>Flutter</span>
					<span>Dart</span>
					<span>Hive</span>
					<span>Arquitectura Limpia</span>
				</div>
			</div>


			<!-- ================= ECU OFF-ROAD ================= -->
			<div class="project-card">
				<div class="project-header">
					<Wifi size={28} class="text-[#00FF66]" />
					<h2>ECU Off-Road (2022–2024)</h2>
				</div>

				<p>
					Computadora central para vehículo de competencia off-road.
					Integración de sensores, telemetría RF y almacenamiento en tiempo real.
				</p>

				<div class="tech">
					<span>Python</span>
					<span>MicroPython</span>
					<span>Raspberry Pi</span>
					<span>IoT</span>
				</div>
			</div>

			<!-- ================= CURSOS PYTHON ================= -->
			<div class="project-card">
				<div class="project-header">
					<Code2 size={28} class="text-[#00FF66]" />
					<h2>Cursos de Python (2022–2023)</h2>
				</div>

				<p>
					Diseño e impartición de programas formativos en programación
					orientados a fundamentos, estructuras de datos y aplicación práctica.
				</p>

				<div class="tech">
					<span>Python</span>
					<span>Estructuras de Datos</span>
					<span>Metodología Didáctica</span>
				</div>
			</div>
			
			<!-- ================= Organizador de torneos ================= -->
			<div class="project-card">
				<div class="project-header">
					<Smartphone size={28} class="text-[#00FF66]" />
					<h2>Organizador de torneos(2019)</h2>
				</div>

				<p>
					Sistema ligero desarrollado en Jsva para gestion de torneos locales.
				</p>

				<div class="tech">
					<span>Java</span>
					<span>Escritorio</span>
					<span>AWT/Swing</span>
					<span>UX/UI</span>
				</div>
			</div>
			
			<!-- ================= Registro de asistencias ================= -->
			<div class="project-card">
				<div class="project-header">
					<Smartphone size={28} class="text-[#00FF66]" />
					<h2>QR Asistence (2019)</h2>
				</div>

				<p>
					Sistema ligero desarrollado en Java para registro de asistencias dentro de aulas mediante QR.
				</p>

				<div class="tech">
					<span>Java</span>
					<span>Swing/Awt</span>
					<span>Arquitectura Limpia</span>
				</div>
			</div>

			<!-- ================= POS VETERINARIA ================= -->
			<div class="project-card">
				<div class="project-header">
					<Smartphone size={28} class="text-[#00FF66]" />
					<h2>Miembro de Taller de robotica (2018)</h2>
				</div>

				<p>
					Desarollo y creacion de prototipos para competencias regionales basados en Vex Robotics.
				</p>

				<div class="tech">
					<span>C</span>
					<span>Diseño de robots</span>
					<span>Trabajo sobre presion</span>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>

.project-card {
	background: rgba(14,14,14,0.66);
	border: 1px solid rgba(0,255,102,0.15);
	padding: 2.5rem;
	border-radius: 1rem;
	transition: all 0.4s ease;
}

.project-card:hover {
	border-color: rgba(0,255,102,0.6);
	transform: translateY(-6px);
	box-shadow: 0 0 40px rgba(0,255,102,0.08);
}

.project-header {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}

.project-header h2 {
	color: #00FF66;
	font-size: 1.4rem;
	font-family: 'onest', sans-serif;
}

.project-card p {
	color: #9ca3af;
	margin-bottom: 20px;
	line-height: 1.6;
}

.tech {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.tech span {
	font-size: 0.75rem;
	padding: 6px 12px;
	border: 1px solid rgba(0,255,102,0.3);
	color: #00FF66;
	border-radius: 999px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

</style>

<script>
  const items = document.querySelectorAll('.principio');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const element = entry.target;
        const delay = Array.from(items).indexOf(element) * 150;
        setTimeout(() => {
          element.classList.add('visible');
        }, delay);
        observer.unobserve(element);
      }
    });
  }, {
    threshold: 0.2
  });

  items.forEach(item => observer.observe(item));
</script>

<script>
  const items = document.querySelectorAll('.group');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const element = entry.target;
        const delay = Array.from(items).indexOf(element) * 150;
        setTimeout(() => {
          element.classList.add('visible');
        }, delay);
        observer.unobserve(element);
      }
    });
  }, {
    threshold: 0.2
  });

  items.forEach(item => observer.observe(item));
</script>

<script>
  function generateBlob() {
    const points = 8;
    const radius = 250;
    const center = 300;

    let path = "";

    for (let i = 0; i < points; i++) {
      const angle = (Math.PI * 2 * i) / points;
      const randomRadius = radius + (Math.random() * 120 - 60);
      const x = center + randomRadius * Math.cos(angle);
      const y = center + randomRadius * Math.sin(angle);

      path += `${i === 0 ? "M" : "L"} ${x} ${y} `;
    }

    path += "Z";
    return path;
  }

  const container = document.getElementById("bg-shape");

  const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
  svg.setAttribute("viewBox", "0 0 600 600");
  svg.classList.add("w-[800px]", "h-[800px]", "opacity-20", "blur-3xl");

  const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
  path.setAttribute("d", generateBlob());
  path.setAttribute("fill", "#00FF66");

  svg.appendChild(path);
  container!.appendChild(svg);
</script>
