---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proyectos">
	<main class="justify-center">

		<section class="flex justify-center py-10">
			<h1 class="text-8xl mt-10">
				Proyectos
			</h1>
		</section>

		<section class="py-10 px-8 md:px-32">
			<div class="bg-zinc-800/80 px-16 py-10 rounded-xl">
				<h2 class="justify-center flex text-2xl">
					Desarollo de aplicacion educativa(2024-presente)
				</h2>
				<div class="flex-wrap md:flex-wrap items-center justify-between">
					<div class="py-4">
						<h2>
							Principales Funciones:
						</h2>
						<ul>
							<li>Analisis de requisitos</li>
							<li>Diseño de logica</li>
							<li>Diseño de interfaz</li>
							<li>Diseño de base de datos</li>
							<li>Desarollo fullstack</li>
							<li>Testing</li>
							<li>Despliegue del proyecto</li>
						</ul>
					</div>					
					<div>
						<p>
							Mi proyecto actual es electronic Facultad de Ingenieria(eFI), efi es una aplicacion
							esccolar, la cual busca brindar herramientas de comunicacion, academicas y administrativas
							a los diferentes entes de la facultad alumno, maestro y administrativo.
						</p>

						<p>
							Este proyecto parte de la idea de unificar diferentes servicios que ya existen dentro de la 
							facultad y compactarlos dentro de una sola aplicacion y dando acceso a ellos, mediante una sola
							cuenta.	Los principales retos de este proyecto fueron identificar eran los principales servicios,
							identificar las carencias en tema de infraestructura digital y buscar el apoyo de alguna 
							dependencia de la facultad.
						</p>
						<p>
							eFI se compone de una aplicacion multiplataforma desarollada en Flutter y de un servidor desarollado
							con Django, la aplicacion esta pensada para ser desplegada entre agosto y diciembre del 2024
						</p>
					</div>	
				</div>				
			</div>
		</section>

		<section class="py-10 px-8 md:px-32">
			<div class="bg-zinc-800/80 px-16 py-10 rounded-xl">
				<h2 class="justify-center flex text-2xl">
					Imparticion de cursos de Python(2022-2023)
				</h2>
				<div class="flex-wrap md:flex-wrap items-center justify-between">
					<div class="py-4">
						<h2>
							Principales Funciones:
						</h2>
						<ul>
							<li>Generacion de temario</li>
							<li>Imparticion de cursos</li>
							<li>Control de tareas</li>
							<li>Evaluacion a alumnos</li>
						</ul>
					</div>					
					<div>
						<p>
							Los cursos impartidos estaban diseñados para que personas sin ninguna experiencia
							en programacion pudieran entrar al mundo de la programacion, el curso iba desde los
							temas mas basicos, tales como las variables, ciclos, condicionales, hasta conceptos
							como estructuras de datos, gestion de librerias, el uso de librerias en diferentes contextos.
						</p>
						<p>
							Las librerias fueron seleccionadas tomando en cuenta su utilidad en el ambito laboral y se les
							mostro como aplicar su conocimiento en areas como ciencia de datos, desarolllo de interfaces,
							back-end, etc.
						</p>
						<p>
							Para evaluar el aprendizaje de los alumnos se asignaban tareas muy sencillas al final de clase,
							para que los mismos alumnos pudieran aplicar lo visto en la clase y estas tareas eran relacionadas
							a problemas comunes. Al principio del curso se les asigno un pequeño proyecto el cual tenia la 
							finalidad de que los alumnos pudieran poner en practica todo lo visto durante el curso y se realizo 
							una presentacion final el sexto dia de curso.
						</p>
						<p>
							Estos cursos me sirvieron para aprender a como compartir mis conocimientos a personas, que no
							tienen experiencia en la programacion, ademas de me ayudo a aprender cosas de python de las 
							cuales yo tampoco tenia mucha experiencia, en general fue una experiencia muy grata para mi y 
							para mis alumnos, los cuales tambien quedaron satisfechos con el curso, 
						</p>
					</div>	
				</div>				
			</div>
		</section>

		<section class="py-10 px-8 md:px-32">
			<div class="bg-zinc-800/80 px-16 py-10 rounded-xl">
				<h2 class="justify-center flex text-2xl">
					Diseño de ECU para carro de Off-Road(2022-2024)
				</h2>
				<div class="flex-wrap md:flex-wrap items-center justify-between">
					<div class="py-4">
						<h2>
							Principales Funciones:
						</h2>
						<ul>
							<li>Analisis de requisitos</li>
							<li>Diseño 3D de carcasas</li>
							<li>Seleccion de componentes</li>
							<li>Seleccion de tecnologías</li>
							<li>Impresion 3D</li>
							<li>Desarollo de scripts</li>
							<li>Desarollo de UI</li>
							<li>Programacion de sensores</li>
							<li>Programacion de configuracion por RF</li>
							<li>Diseño y desarrollo de computadoras</li>
						</ul>
					</div>					
					<div>
						<p>
							Este proyecto consta en la creacion de una computadora central para un
							carro de competencias off-road, esta computadora, debia de recibir 
							informacion de multiples sensores acoplados al carro, guardar la informacion
							y transmitirla al equipo en pits.
						</p>

						<p>
							La computadora esta compuesta por una raspberry pi 4, un sensor gps(para medir 
							velocidad, posicion, aceleracion, etc.), una antena RF y una bateria. Todos los 
							componentes estaban desarollados en python y ademas se contaba con modulos
							inalambricos, contruidos con raspberry pi pico y comunicados por medio de wifi,
							a estos modulos se conectaban distintos sensores. Toda la programacion fue realizada
							en python y micropython.   
						</p>

						<p>
							Esta experiencia cambio mucho mi forma de programar, esta fue la primera
							vez que tuve un equipo de trabajo y me ayudo a mejorar mi estilo de Programacion
							me llevo a aprender sobre clean code, fue mi primer proyecto donde activamente diseñe
							carcasas para componentes electronicos siguiendo el estandar de proteccion IP, me ayudo 
							a entender como funciona la electronica de los vehiculos y me ayudo a entender la importancia 
							que tiene la electronica en el funcionamiento de los vehiculos.
						</p>

					</div>	
				</div>				
			</div>
		</section>

		<section class="py-10 px-8 md:px-32">
			<div class="bg-zinc-800/80 px-16 py-10 rounded-xl">
				<h2 class="justify-center flex text-2xl">
					Aplicacion para torneos deportivos (2019)
				</h2>
				<div class="flex-wrap md:flex-wrap items-center justify-between">
					<div class="py-4">
						<h2>
							Principales Funciones:
						</h2>
						<ul>
							<li>Analisis de requisitos</li>
							<li>Diseño logico</li>
							<li>Diseño de interfaz</li>
							<li>Desarollo de la aplicacion</li>
						</ul>
					</div>					
					<div>
						<p>
							La aplicacion fue diseñada para organizar torneos deportivos, contando con fase
							de grupos, fase de partidos finales, clasificacioes, puntos, cronometro, etc.
							Esta aplicacion fue de gran utilidad en distintas ferias deportivas (Fechas en las
							que habian multiples torneos realizandose a la vez). 
						</p>
						<p>
							Este proyecto fue el segundo que realize y me ayudo a mejorar mis habilidades de logica 
							de programación y expandio mi vision sobre como es posible trasladar elementos de la vida
							real al ambito digital. 
						</p>
					</div>	
				</div>				
			</div>
		</section>

		<section class="py-10 px-8 md:px-32">
			<div class="bg-zinc-800/80 px-16 py-10 rounded-xl">
				<h2 class="justify-center flex text-2xl">
					Aplicacion para registro de asistencias (2019)
				</h2>
				<div class="flex-wrap md:flex-wrap items-center justify-between">
					<div class="py-4">
						<h2>
							Principales Funciones:
						</h2>
						<ul>
							<li>Analisis de requisitos</li>
							<li>Diseño logico</li>
							<li>Diseño de interfaz</li>
							<li>Desarollo de la aplicacion</li>
						</ul>
					</div>					
					<div>
						<p>
							Esta aplicacion estaba diseñada para simplicar el proceso de registro 
							de asistencias, mediante el uso de codigos QR. 
						</p>
						<p>
							La aplicacion funcionaba mediante Java y el uso de peticiones http,
							el QR servia para proteger el url de la pagina y evitar registros de personas
							que no se encontraran dentro del aula, este codigo QR, cambiaba cada minuto.
						</p>
						<p>
							Este fue mi primer proyecto y me sirvio para aprender a programar, identificar
							requisitos, a diseñar soluciones en base al analisis y pensar en los problemas 
							posteriores a la implementacion. 
						</p>
					</div>	
				</div>				
			</div>
		</section>

	</main>
</Layout>

<style>
	main{
		background-color: rgba(11, 11, 11, 0.9);
	}
	h1 {
		color: #00ff00;
	}
	h2 {
		color: #00ff00;
		font-family: 'onest', sans-serif;
	}
	p {
		color: #00ff00;
		font-family: 'onest', sans-serif;
		padding-top: 15px;
		font-size: 16px;
	}

</style>