---
import '@fontsource/onest/500.css';
import '@fontsource/orbitron/500.css';
import PillButton from './footer_button.astro';
---

<footer>
    <div class="flex-col px-10 justify-around">
        <div class="flex justify-center">
            <img src="../logo.svg" class="w-10">
        </div>
        <nav class="flex gap-x-4 md:gap-10 transition text-1xl justify-center items-center py-4">
            <PillButton href="https://www.linkedin.com/in/antonio-trujillo-b43691315/" target="_blank">Linkedin</PillButton>
            <PillButton href="https://www.instagram.com/tony.22tr/" target="_blank">Instagram</PillButton>
            <PillButton href="mailto:tony.trujillo.2210@gmail.com" target="_blank">Contacto</a>
        </nav>
    </div>
    <div class="flex justify-center items-center">
        <img src="../favicon.svg" class="w-10">
        <h1>Pagina realizada con Astro.</h1>
    </div>
</footer>


<style>
	footer {
		font-family: 'onest', sans-serif;
        background-color: rgba(11,11,11, 0.9);
        color: #26ff00;
	}
    a {
        font-size: 15px;
    }
    h1 {
        font-family: 'orbitron', sans-serif;
    }
</style>


