---
import '@fontsource/onest/500.css';
import '@fontsource/orbitron/500.css';
import PillButton from './Pill_Button.astro';
---

<header>
    <div class="flex px-10 justify-around">
        <div class="py-4">
            <img src="../logo.svg" class="w-10">
        </div>
        <nav class="flex gap-x-4 md:gap-10 transition text-1xl justify-center items-center">
            <PillButton href="/">Inicio</PillButton>
            <PillButton href="/projects">Proyectos</PillButton>
            <PillButton href="/about">Sobre mi</PillButton>
        </nav>
    </div>
</header>


<style>
	header {
		font-family: 'onest', sans-serif;
        background-color: rgba(11,11,11, 0.9);
        color: #26ff00;
	}
    a {
        font-size: 15px;
    }
    h1 {
        font-family: 'orbitron', sans-serif;
    }
</style>


