

<a 
    {...Astro.props}
    class="rounded-full border flex justify-center items-center
    y-2 px-5 text-nowrap md:min-w-36 bg-green hover:scale-125 hover:bg-white/50 transition">
    <h5 class="">
        <slot />
    </h5>
</a>

<style>
    a{
        border-color: rgb(00, 256, 0);
    }
</style>